.body {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.wrapper > .animation_container:nth-child(2) {
  pointer-events: none;
  position: absolute;
  top: 0;
}

.canvas {
  position: absolute;
}

@font-face {
  font-family:'Cambria';
  src: url('../fonts/Cambria Bold.eot');
  src: url('../fonts/Cambria Bold.eot?#iefix') format('eot'),
  url('../fonts/Cambria Bold.woff2') format('woff2'),
  url('../fonts/Cambria Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0021-2265;
}

@font-face {
  font-family:'Cambria';
  src: url('../fonts/Cambria Italic.eot');
  src: url('../fonts/Cambria Italic.eot?#iefix') format('eot'),
  url('../fonts/Cambria Italic.woff2') format('woff2'),
  url('../fonts/Cambria Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0021-2265;
}

@font-face {
  font-family:'Cambria';
  src: url('../fonts/Cambria Bold Italic.eot');
  src: url('../fonts/Cambria Bold Italic.eot?#iefix') format('eot'),
  url('../fonts/Cambria Bold Italic.woff2') format('woff2'),
  url('../fonts/Cambria Bold Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0021-2265;
}

@font-face {
  font-family:'Cambria';
  src: url('../fonts/Cambria.eot');
  src: url('../fonts/Cambria.eot?#iefix') format('eot'),
  url('../fonts/Cambria.woff2') format('woff2'),
  url('../fonts/Cambria.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0021-22FE;
}
